# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/Pods/
ios/Flutter/ephemeral/
ios/.symlinks/
lib/firebase_options.dart

# Android
.gradle
/android/local.properties
/android/key.properties
/android/app/google-services.json

# iOS
*.hmap
*.ipa
*.sym
DerivedData/
build/
.ios/
Flutter/App.framework
Flutter/Flutter.podspec
ios/Runner.xcworkspace
